@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
</head>

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous" asp-append-version="true">
<div class="text">
    <p text-align="center" style="margin:25%">nameApp </p>
</div>
<style>
    .text {
        height: 10em;
        position: relative
    }

    p {
        margin: 0;
        background: yellow;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
</style>